* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Archivo', sans-serif;
  /* font-family: 'Nunito', sans-serif; */
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Archivo', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

h3 {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Archivo', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #909090;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: .01rem;
}

body {
  margin-bottom: 6%;
}

i::before{
  background:transparent;
}

/* Code below from: https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 . This, along with the accompanying JS code will allow keyboard-only users to have the ring focus on for buttons. */

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.logo {
  width: 200px;
}

.page-top {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;
  /* border-bottom: 1px solid gray */
  /* background-color: gray; */
}

.page-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.add-task-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  /* margin: auto; */
  padding: 2%;
}

.add-task {
  border-bottom: 1px solid black;
  /* padding-bottom: 5px; */
}

.to-do-title{
  display: flex;
  color: white;
  background-image: linear-gradient(to right, #0d5297, #00a24f);
  /* background-color: rgba(0, 0, 0, 0.3); */
  width: 100%;
  height: 3rem;
  align-items: center;
  padding-left: 2rem;
}

.task-text {
  width: 80%;
  display: inline-block;
}

textarea {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: .01rem;
  margin: 0;
  resize: none;
  /* white-space: pre-line; */
}

.add-task::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 400;
}

.add-button {
  background-color: white;
  font-size: 1.7rem;
  /* font-weight: 700; */
  width: 30px;
  color: #000;
}

.add-button:hover {
  cursor: pointer;
}

.add {
  font-size: 2.5rem;
  float: right;
  margin: 4%;
}

.todo-card {
  display: block;
  /* border-bottom:  rgba(0, 0, 0, 0.3) 1px solid; */
  /* border-right: rgba(0, 0, 0, 0.3) 1px solid; */
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 25px;

}

/* Ghost element used to ensure flexbox center will create cards from the left on new rows */
.ghost-card {
  width: 100%;
  padding: 25px;
}

.fas {
  float: right;
  cursor: pointer;
}

.fa-check {
  padding-right: 15px;
}

.fa-check:hover {
  color: #00a24f;
}

.fa-trash-alt:hover{
  color: #0d5297;
}

#type-field-title {
  width: 100vw;
  padding-top: 2%;
  padding-left: 4%;
  font-weight: 700;
}

#type-field-body {
  padding: 2%;
  padding-left: 4%;
  width: 100%;
}

.type-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.type-field-c {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.task-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border:  #0d5297 1px solid;
  padding: 2%;
  border-radius: 5px;
  padding: 0;
  margin: auto;
}

.cards-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.to-do-title {
  border-radius: 4px 4px 0 0;
}

.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 3%;
  width: 100%
}

/* Mobile */
@media only screen and (max-width: 560px) {

  h3 {
    font-size: 1rem;
    padding: 4rem;
    text-align: center;
  }

  .add-task-container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .add-task {
    min-width: 300px;
    width: 75%;
  }

  .todo-card {
    padding: 1.5rem;
  }

  .to-do-title {
    padding-left: 1.5rem;
  }
}


/* Tablet*/
@media only screen and (min-width: 560px) and (max-width: 900px) {

  h3 {
    font-size: 1.2rem;
    padding: 4rem;
    text-align: center;
  }

  .task-container {
    width: 75%;
    max-width: 880px;
  }

  .to-do-title {
    padding-left: 1.5rem;
  }

  .add-task-container {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .add-task {
    width: 75%;
  }

  .todo-card {
    padding: 1.5rem;
    width: 100%;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {

  .task-container {
    width: 750px;
    max-width: 880px;
  }

  .add-task-container {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .to-do-title {
    padding-left: 3rem;
  }

  .add-task {
    width: 500px;
  }
  
  .todo-card {
    width: 40%;
  }

  .ghost-card {
    width: 40%;
  }

}