* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

i::before{
  background:transparent;
}

/* .plus {
  background-color: #FFDC19;
  font-size: 1.5rem;
} */

.top {
  padding: 2%;
  background-color:  #FFDC19;
}

.end-space {
  text-align: center;
}

.add {
  font-size: 2.5rem;
  float: right;
  margin: 4%;
}

.todo-card {
  /* display: flex; */
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  /* border-radius: 1rem; */
  margin: 1rem;
  width: 100%;
  padding: .5rem;

}

.fas {
  float: right;
  padding: 2%;
}

.type-field-title {
  width: 100vw;
  padding: 2%;
  padding-left: 4%;
  /* font-family: 'Nunito', sans-serif; */
  font-weight: 700;
  /* height: 30vh; */
}

.type-field-body {
  padding: 2%;
  /* padding-bottom: 30%; */
  padding-left: 4%;
  width: 100%;
}

/* .end-space {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.type-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.type-field-c {
  display: flex;
  flex-wrap: wrap;
}

.cards-c {
  width: 100vw;
  height: 60vh;
  overflow: scroll;
  margin-top: 4%;
  margin-bottom: 4%;
}

.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 3%;
  width: 100%
}
/* .type-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.create {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: royalblue;
  /* width: 100%; */
  border: 1px solid #fff;
  border-radius: 0.3em;
  /* background-color: rgb(255, 255, 255, 0); */
  padding: 2% 3%;
  text-align: center;
  /* float: right; */
}

@media only screen and (min-width: 560px) {
.todo-card {
  width: 37vw;
  }
}
