* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 15px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

i::before{
  background:transparent;
}

.top {
  padding: 10px;
  border-radius: 1rem;
  margin: 0;
  background-color:  #FFDC19;
}

.end-space {
  text-align: center;
}

.add {
  font-size: 2.5rem;
  float: right;
  margin: 4%;
}

.todo-card {
  display: block;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  width: 100%;
  padding: .5rem;

}

.fas {
  float: right;
  padding: 2%;
}

#type-field-title {
  width: 100vw;
  padding-top: 2%;
  padding-left: 4%;
  font-weight: 700;
}

#type-field-body {
  padding: 2%;
  padding-left: 4%;
  width: 100%;
}

.type-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.type-field-c {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.cards-c {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
  overflow: scroll;
  margin-top: 4%;
  margin-bottom: 4%;
}

.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding-left: 3%;
  width: 100%
}


@media only screen and (max-width: 560px) {

  .top {
    margin: 3% 0;
  }



}
@media only screen and (min-width: 560px) {

  .top {
    margin: 0 10%;
  }

  .type-field-c {
    margin: 0 10%;
  }

  .add {
    margin-right: 10%;
  }

}